body {
  overflow-x: hidden;
}

h2{
	font-size:22px;
	font-weight:600;
	line-height:48px;
	margin-bottom:0px;
}

tr[data-href] td{
	cursor:pointer;
}

@media(min-width:768px) {
	h2{
		font-size:26px;
	}	
}

#wrapper {
  padding-left: 32px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 42px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #228AE6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  left:-200px;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}


#wrapper.toggled  .sidebar-nav {
  left:0px;
}


.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li:hover {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: white;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: white;
  background: none;
}

@media(min-width:768px) {
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.sidebar-nav li{
	text-indent:0px;
}

.sidebar-nav li{
	padding-left:15px;
}

.sidebar-nav {
	color:white;
}

.sidebar-nav li .fa-bars{
	position:absolute;
	top:15px;
	right:15px;
	border:solid 1px white;
	color:white;
	padding:5px;
	margin:0px;
	cursor:pointer;
}


.sidebar-nav li .fa-fw{
	width:25px !important;
}

form input, form select{
  margin-bottom: 10px;
}

form input, form select{
  margin-bottom: 10px;
}

.input-group input,.input-group select{
	border-radius:5px !important;
}

.editObjectForm .input-group input,.editObjectForm .input-group select{
	border-radius:0 5px 5px 0 !important;
}

.editObjectForm .input-group button{
	border-radius:5px 0 0 5px;
	background-color:#ced4da;
}

.select2-selection{
	border-radius:0 5px 5px 0;
	border-color:#ced4da;
	height:38px;
}

.select2-selection__arrow{
	color:#ced4da;
	height:38px !important;
}

.select2-selection--single{
	height:38px !important;
	border-radius:5px !important;
	border-color:#ced4da !important;		
}

.editObjectForm .select2-selection--single{
	border-radius:0 5px 5px 0 !important;	
}

.select2-selection__rendered{
	line-height:38px !important;
}

*:focus {
    outline: none !important;
	box-shadow:none !important;
}

.yellow-gold{ background-color:orange !important; }
.border-yellow-gold{ border:solid 1px orange; }
.red-mint{ background-color:red !important; }
.border-red-mint{ border:solid 1px red; }
