html,body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}
.form-signin {
  text-align:center;
  max-width: 330px;
  padding: 15px;
  margin: 0px auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input,.form-signin select{
  margin-bottom: 10px;
}

.form-signin select{
  padding:5px !important;
}

.form-signin  .input-group .select2{
	width:300px !important;
}

.form-signin .input-group .select2-selection{
	border-color:#ced4da;
	height:38px;
}

.form-signin .input-group .select2-selection__arrow{
	color:#ced4da;
	height:38px !important;
}

.form-signin .input-group .select2-selection__rendered{
	line-height:38px !important;
}

*:focus {
    outline: none !important;
	box-shadow:none !important;
}

button a{
  color:white;
}

h5{
  font-size:15px;
}